html {
  scroll-behavior: smooth;
}
body * {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  grid-area: space;
}

header {
  background: #ff8c00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}
header img {
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
header div {
  display: flex;
  align-items: center;
}
nav a {
  color: #fffafb;
  padding: 0 0.9em;
  text-decoration: none;
}

section h1 {
  scroll-margin-top: 180px;
}

a:hover {
  color: #7de2d1;
}

.welcomey {
  background-image: url("https://cdn.glitch.global/d5df0cfe-d51c-4475-af22-108fb1f70c1e/69e51066-a0c6-4bfc-982e-9c95d51b7e82.jpg?v=1705662987699");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right -200px top -90px;
}
.banner a,
.banner span {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.clicky {
  background-image: url("https://cdn.glitch.global/d5df0cfe-d51c-4475-af22-108fb1f70c1e/bg.jpg?v=1705662987699");
  background-attachment: fixed;
  background-size: 200px;
  background-color: #2b2c28;
}

.seller figure,
.releases figure {
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 20px 20px;
  border: 20px solid #cccccc;
}
.seller figcaption,
.releases figcaption {
  margin-top: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details button,
.item-details span {
  margin-top: 20px;
}

/* Styles for the aboout us form */
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

@media only screen and (min-width: 750px) {
  .contact-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form input {
    width: 48%;
  }

  .seller figure,
  .releases figure {
    max-width: calc(50% - 20px);
    float: left;
    clear: none;
  }
}

@media only screen and (min-width: 750px) {
  .welcomey {
    background-position: right -200px top -90px;
  }
}
@media only screen and (min-width: 1000px) {
  .welcomey {
    background-position: right 0 top -90px;
  }
}
